
{% extends 'base.html'%}

{% block title %} Login {% endblock %}

{% block content %}
    <h2>Registration</h2>
    <form method="post">
        {% csrf_token %}
        {% for item in form %}
            {{item.label_tag}} {{item}} <br>
            {%if item.errors|striptags%}
                <div class="alert alert-danger" role="alert">
                    {{item.errors|striptags}}
                </div>
            {% endif %}
             <br> <br>
        {% endfor %}
        <button type="submit">Register</button>
    </form>
{% endblock %}
